* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: darkgrey;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  background-color: rgb(50 47 47);

  color: #beb4b4;
}
.sidebar header {
  padding: 12px;
}
.sidebar ul {
  padding: 6px;
  line-height: 2;
  cursor: pointer;
}
.sidebar ul :hover {
  background-color: rgb(60, 60, 143);
}
.sidebar ul li {
  padding-left: 6px;
}
.intro {
  background-color: rgb(50 47 47);
  margin-left: 180px;
  padding: 13px;
  color: rgb(231, 226, 226);
  margin-top: -37%;
}

.icon-board {
  padding-left: 3px;
}
.btn {
  margin-top: -4%;
  margin-left: 89%;
}
button {
  background-color: rgb(60, 60, 143);
  padding: 12px;
  border-radius: 29px;
  border: none;
  text-align: center;
  color: white;
}
.themes {
  background-color: rgb(23 21 21);

  border-radius: 5px;
  width: 125px;
  padding-top: 10px;
  text-align: center;
  margin-top: 159px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 300px;
}
.checkbox-label {
  width: 49px;
  height: 22px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60, 60, 143);
  margin-left: 21px;
}
.icon-dark {
  margin-left: 4px;
}
.checkbox-label .ball {
  background-color: #fff;
  width: 20px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.icon-light {
  margin-left: -112px;
}
.hide-slidebar {
  display: flex;
}
.hide-slidebar p {
  margin-left: 13px;
}
h3 {
  background-color: rgb(60, 60, 143);
  border-radius: 29px;
  color: #beb4b4;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  width: 14%;
}
.boxes {
  background-color: rgb(33, 31, 31);
  width: 86%;
  margin-left: 190px;
  color: white;
  height: 813px;
  line-height: 2;
  display: flex;
}
.heading li {
  color: #beb4b4;
  font-size: 14px;
  margin-left: 23px;
  margin-top: 22px;
}
.heading ::marker {
  color: rgb(39, 134, 197);
}

.heading-two li {
  color: #beb4b4;
  font-size: 14px;
  margin-left: 23px;
  margin-top: 22px;
}
.heading-two ::marker {
  color: rgb(152, 38, 152);
}

.heading-three li {
  color: #beb4b4;
  font-size: 14px;
  margin-left: 23px;
  margin-top: 22px;
}
.heading-three ::marker {
  color: rgb(29, 189, 98);
}
.ball {
  color: white;
}
.Todo {
  margin-left: 23px;
}
.flow {
  background-color: rgb(47, 42, 42);
  width: 221px;
  padding: 6px;
  border-radius: 8px;
}
span {
  color: #beb4b4;
}
.search {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 221px;
  padding: 6px;
  border-radius: 8px;
  margin-top: 11px;
}
.ui {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 221px;
  padding: 6px;
  border-radius: 8px;
  margin-top: 11px;
}
.user {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 221px;
  padding: 6px;
  border-radius: 8px;
  margin-top: 11px;
}
.doing {
  margin-left: 23px;
}
.pages {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 262px;
  padding: 3px;
  border-radius: 8px;
  margin-top: 1px;
}
.management {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 260px;
  padding: 3px;
  border-radius: 8px;
  margin-top: 8px;
}
.design {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 260px;
  padding: 3px;
  border-radius: 8px;
  margin-top: 11px;
}
.enpoints {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 260px;
  padding: 3px;
  border-radius: 8px;
  margin-top: 11px;
}
.endpoints {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 260px;
  padding: 3px;
  border-radius: 8px;
  margin-top: 11px;
}
.models {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 260px;
  padding: 6px;
  border-radius: 8px;
  margin-top: 11px;
}
.done {
  margin-left: 23px;
}

.test {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 260px;
  padding: 2px;
  border-radius: 8px;
  margin-top: 8px;
}
.prototype {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 260px;
  padding: 2px;
  border-radius: 8px;
  margin-top: 8px;
}
.review {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 260px;
  padding: 2px;
  border-radius: 8px;
  margin-top: 8px;
}
.create {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 263px;
  padding: 2px;
  border-radius: 8px;
  margin-top: 8px;
}
.discovery {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 270px;
  padding: 2px;
  border-radius: 8px;
  margin-top: 8px;
}
.analysis {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 270px;
  padding: 2px;
  border-radius: 8px;
  margin-top: 8px;
}
.research {
  margin-left: 3px;
  background-color: rgb(47, 42, 42);
  width: 270px;
  padding: 2px;
  border-radius: 8px;
  margin-top: 8px;
}
p {
  padding-left: 5px;
}
span {
  padding-left: 7px;
}
